<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld</title>
</head>
<body>
<h2>Student Portal</h2>
<a href="/student/new">Add a student</a>
<br>

<a href="/student/list">Student List</a>
<br>
<form action="/student/update" method="get">
    Update student with ID <input type="text" name="id">
    <input type="submit" value="Search">
</form>

<br>
<form action="/student/delete" method="get">
    Delete student with ID <input type="text" name="id">
    <input type="submit" value="Search">
</form>

</body>
</html>